/*.sw-title-outside-box {
    font-weight: 400;
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 0 15px 0;
    margin-left: 20px;
    width: 100%;
}*/
.sw-welcome-title {
    padding-top: 30px;
    font-size: 32px;
    font-weight: 500;
}
img {
    width: 100%;
}
.sw-add-funds-description {
    padding: 30px 0 50px 0;
    font-size: 26px;
    font-weight: 500;
}