<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="col-sm-12 col-md-12">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Manage</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->
  
    <div class="row">
      <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
        <p class="sw-title-outside-box sw-border-light-green">Manage</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-description-outside-box">Confirm asset cancelation</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 center sw-top-bar-info">
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Total invested <p class="sw-value-font ">{{investorComponent.getStatistics().investedValue | currency:'USD':true:'.2' }}</p></div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Expected gross return <p class="sw-value-font sw-blue1">{{investorComponent.getStatistics().returnValue | currency:'USD':true:'.2' }}</p></div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Received gross return <p class="sw-value-font sw-green">{{investorComponent.getStatistics().returnedValue | currency:'USD':true:'.2' }}</p></div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Assets <p class="sw-value-font sw-blue1">{{investorComponent.getStatistics().assetsLength}}</p></div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Next return on <p class="sw-value-font sw-blue1">{{investorComponent.getStatistics().nextReturnDate | date: 'dd MMMM yyyy'}}</p></div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Expected <p class="sw-value-font ">{{investorComponent.getStatistics().nextReturnValue | currency:'USD':true:'.2' }}</p></div>
      </div>      
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 sw-bottom-border center">
        <div class="col-xs-2 col-sm-2 col-md-2">Amount invested</div>
        <div class="col-xs-2 col-sm-2 col-md-2">Expected gross return</div>
        <div class="col-xs-1 col-sm-1 col-md-1">Gross return</div>
        <div class="col-xs-1 col-sm-1 col-md-1">Terms (Months)</div>
        <div class="col-xs-1 col-sm-1 col-md-1">Collateral (SWAPY)</div>
        <div class="col-xs-2 col-sm-2 col-md-2">Return on</div>
        <!-- <div class="col-xs-2 col-sm-2 col-md-2">Credit Company (Issuer)</div> -->
        <div class="col-xs-1 col-sm-1 col-md-1">Status</div>
      </div>
    </div>

    <div *ngFor="let asset of assets;">
  	  <div class="row sw-assets">
  	    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
  	      <div class="col-xs-2 col-sm-2 col-md-2">{{asset.currentValue | currency:'USD':true:'.2' }}</div>
  	      <div class="col-xs-2 col-sm-2 col-md-2 sw-blue1">{{calculateReturnAmount(asset) | currency:'USD':true:'.2' }}</div>
  	      <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.grossReturn | percent}}</div>
  	      <div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': calculateAssetProgression(asset) != 0 }">{{calculateAssetProgression(asset)}}/{{asset.paybackMonths}}</div>
  	      <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.token || 'No collateral'}}</div>
  	      <div class="col-xs-2 col-sm-2 col-md-2">{{calculatePaybackDate(asset) | date: 'dd MMMM yyyy'}}</div>
  	      <!-- <div class="col-xs-2 col-sm-2 col-md-2">asset.creditCompanyAddress</div> -->
  	      <div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': asset.status == INVESTED, 'sw-orange': asset.status == PENDING_OWNER_AGREEMENT || asset.status == PENDING_INVESTOR_AGREEMENT, 'sw-green': asset.status >= RETURNED}">{{statusToString(asset.status)}}</div>
  	    </div>
  	  </div>
  	</div>
	
  	<div class="row">
  		<div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 sw-confirm-message">You are canceling the investment on <span class="sw-blue1">{{assets.length}} asset(s).</span>
  			<p class="sw-blue1">Do you confirm that ?</p>
  		</div>
  	</div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7" role="button">  
        <a class="sw-button sw-btn-return" routerLink='/investor'>Return</a>
      </div>
      <div class="col-sm-2 col-md-2" role="button" (click)="cancel()">   
        <a class="sw-button sw-btn-cancel-assets">Cancel assets</a>      
      </div>
    </div>

  </div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
