<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-gray">
      <div class="row page-title">
        <div class="col-md-12">
          <h3>Invest</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 bg-white">

              <div class="row">
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12">
                      <img src="images/fig.png" alt="Swapy" height="155" width="90">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <img src="images/fig1.png" alt="Swapy" height="155" width="90">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12 funds-title">
                      <h3>Fundraising Offer</h3>
                      <p>N. 13482100 - MeuCrédito</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 credit-options">
                      <ul>
                        <li>
                          Asset 1 - <span>$ 5.000</span> <label><input class="form-check-input" type="checkbox" value=""></label>
                        </li>
                        <li>
                          Asset 2 - <span>$ 5.000</span> <label><input class="form-check-input" type="checkbox" value=""></label>
                        </li>
                        <li>
                          Asset 3 - <span>$ 5.000</span> <label><input class="form-check-input" type="checkbox" value=""></label>
                        </li>
                        <li>
                          Asset 4 - <span>$ 5.000</span> <label><input class="form-check-input" type="checkbox" value=""></label>
                        </li>
                        <li>
                          Asset 5 - <span>$ 5.000</span> <label><input class="form-check-input" type="checkbox" value=""></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 total">
                      <h3>TOTAL $ <span id="assetsCheckeds">0.000</span> <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 funds-description">
                  <div class="row">

                    <div class="col-md-12">
                      <p>Fundraising</p>
                      <h3>$ 25.000</h3>
                    </div>
									</div>

									<div class="row">
                    <div class="col-md-12">
                      <p>ROI</p>
                      <h3>10% <span>per annum</span></h3>
                    </div>
                  </div>

									<div class="row">
                    <div class="col-md-12">
                      <p>Payback</p>
                      <h3>6 months</h3>
                    </div>
                  </div>

<div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-rounded" id="btn_invest" onclick="App.invest();">
                        <span></span>Invest
                      </button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var _assetsCheckeds = 0;
    console.log("check");
    $('input:checkbox').change(function() {
      _assetsCheckeds = $('input:checkbox:checked').length;
      $("#assetsCheckeds").text( (_assetsCheckeds * 5).toString() +".000");
    });
  });
</script>

<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
<hero-search></hero-search>
 -->