<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Manage</p>
      </div>
      <!--<div class="col-xs-6 col-sm-6 col-md-6 sw-search-bar">
       <div class="input-group" id="search-bar">
        <input type="text" class="form-control sw-search-bar" placeholder="Search offers">
        <span class="input-group-btn">
           <button class="btn btn-default sw-search-bar-icon" type="button"><i class="fa fa-search"></i></button>
        </span>
       </div>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 sw-search-button">
           <a href="#" id="swapy-button"><img class="sw-btn1" src="img/swapy-button.png" alt="Swapy logo"></a>
           <a href="#" id="swapy-button2"><img class="sw-btn2" src="img/swapy-button2.png" alt="Swapy logo"></a>

      </div> -->
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class="col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row">

              <div class="col-sm-12 col-md-12">

                <div class="row">
                  <br>
                  <div class="col-sm-12 col-md-12"><!--Progress Bars-->
                     <div class="sw-prog-bar clearfix " data-percent="70%">
                       <div class="sw-prog-bar-title sw-bar-1"><span>$ 1.000.000,00</span></div>
                       <div class="sw-prog-bar-bar sw-bar-1"></div>
                       <div class="sw-prog-bar-percent">Total Requested</div>
                     </div>

                     <div class="sw-prog-bar clearfix " data-percent="35%">
                       <div class="sw-prog-bar-title sw-bar-2"><span>$ 500.000,00</span></div>
                       <div class="sw-prog-bar-bar sw-bar-2"></div>
                       <div class="sw-prog-bar-percent">Total Raised</div>
                     </div>
                  </div>

                </div>
                <hr>


            <div class="row">
              <div class="col-sm-12 col-md-12">
                <p class="sw-title-blue-right">Fundraising Offers</p>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion-->
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
     <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">$25.000,00 <span class="sw-box-text">- Contract N.143 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons"><i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle" aria-hidden="true"> </i> <i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> | <span class="sw-low">Low Funds</span></p>
        </div>
     </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Fundraising: $ 25.000</p>
            <p class="sw-box-text">Payback: 4 months</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">ROI: 20%</p><hr>
            <p class="sw-box-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Launch: 12 sep 15</p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">5 Assets of: $ 5.000</p>
            <p class="sw-box-text">Debt: 5x $ 6.000</p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Payback (months)</p>
            <div class="sw-progress-circle p66 sw-over50"> <!-- Start Circular chart-->
              <span>4/6</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p20"> <!-- Start Circular chart-->
              <span>20%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

        <hr>
        <div class="col-sm-12 col-md-12 table-responsive">
          <table class="table table-hover">
             <tr class="active">
                <th>Asset</th>
                <th>Investor</th>
                <th>First Installment</th>
                <th>Last Installment</th>
                <th>6x</th>
             </tr>
             <tr>
                <td>1</td>
                <td>John R. Capital</td>
                <td>02 jan 16</td>
                <td>02 jun 16</td>
                <td>$1.000</td>
             </tr>
             <tr>
                <td>2</td>
                <td>Investo Associates</td>
                <td>14 ago 17</td>
                <td>14 dez 17</td>
                <td>$1.000</td>
             </tr>
             <tr>
                <td>3</td>
                <td>Investo Associates</td>
                <td>14 ago 17</td>
                <td>14 dez 17</td>
                <td>$1.000</td>
             </tr>
             <tr>
                <td>4</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>5</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
          </table>

        </div>


      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">$400.000,00 <span class="sw-box-text">- Contract N.077 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons"><i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"> </i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> | <span class="sw-low">Low Funds</span></p>
        </div>
     </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Fundraising: $ 400.000</p>
            <p class="sw-box-text">Payback: 10 months</p>
            <p class="sw-box-text">12 installments</p>
            <p class="sw-box-text">ROI: 15%</p><hr>
            <p class="sw-box-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Launch: 12 sep 15</p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">5 Assets of: $ 80.000</p>
            <p class="sw-box-text">Debt: 5x $ 90.000</p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Payback (months)</p>
            <div class="sw-progress-circle p83 sw-over50"> <!-- Start Circular chart-->
              <span>10/12</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p15"> <!-- Start Circular chart-->
              <span>15%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

        <hr>
        <div class="col-sm-12 col-md-12 table-responsive">
          <table class="table table-hover">
             <tr class="active">
                <th>Asset</th>
                <th>Investor</th>
                <th>First Installment</th>
                <th>Last Installment</th>
                <th>12x</th>
             </tr>
             <tr>
                <td>1</td>
                <td>John R. Capital</td>
                <td>02 jan 16</td>
                <td>02 jun 16</td>
                <td>$7.500</td>
             </tr>
             <tr>
                <td>2</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>3</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>4</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>5</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
          </table>

        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">$150.000,00 <span class="sw-box-text">- Contract N.121 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons"><i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle" aria-hidden="true"> </i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> | <span class="sw-low">Low Funds</span></p>
        </div>
     </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Fundraising: $ 150.000</p>
            <p class="sw-box-text">Payback: 6 months</p>
            <p class="sw-box-text">8 installments</p>
            <p class="sw-box-text">ROI: 20%</p><hr>
            <p class="sw-box-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Launch: 12 sep 15</p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">5 Assets of: $ 18.750</p>
            <p class="sw-box-text">Debt: 5x $ 20.000</p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Payback (months)</p>
            <div class="sw-progress-circle p70 sw-over50"> <!-- Start Circular chart-->
              <span>6/8</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p15"> <!-- Start Circular chart-->
              <span>15%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

        <hr>
        <div class="col-sm-12 col-md-12 table-responsive">
          <table class="table table-hover">
             <tr class="active">
                <th>Asset</th>
                <th>Investor</th>
                <th>First Installment</th>
                <th>Last Installment</th>
                <th>8x</th>
             </tr>
             <tr>
                <td>1</td>
                <td>John R. Capital</td>
                <td>02 jan 16</td>
                <td>02 jun 16</td>
                <td>$2.343</td>
             </tr>
             <tr>
                <td>2</td>
                <td>Investo Associates</td>
                <td>14 ago 17</td>
                <td>14 dez 17</td>
                <td>$2.343</td>
             </tr>
             <tr>
                <td>3</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>4</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
             <tr>
                <td>5</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             </tr>
          </table>

        </div>

      </div>
    </div>
  </div>
</div><!-- END Accordion-->


              </div>
            </div>

             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  --> 
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
