<div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Manage</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      
      <div class="col-xs-2 col-sm-2 col-md-2">
        <p class="sw-title-outside-box sw-border-light-green">Manage</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <p class="sw-description-outside-box">Manage your offers</p>
      </div>
        <div *ngIf="checkSelectedAssets().length">
          <div *ngIf="handleButtons().status == AVAILABLE || handleButtons().status == PENDING_OWNER_AGREEMENT" class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2" role="button" [routerLink]="['/credit-company/cancel-asset']">
            <a class="sw-button sw-btn-white">Cancel</a>
          </div>        
          <div *ngIf="handleButtons().status == AVAILABLE" class="col-xs-2 col-sm-2 col-md-2" role="button" [routerLink]="['/credit-company/add-collateral']">
            <a class="sw-button sw-btn-orange">Add collateral</a>
          </div>
          <div *ngIf="handleButtons().status == PENDING_OWNER_AGREEMENT" class="col-xs-2 col-sm-2 col-md-2" role="button" [routerLink]="['/credit-company/accept-investment']">
            <a class="sw-button sw-btn-orange">Approve</a>
          </div>
          <div *ngIf="handleButtons().status == INVESTED" class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4" role="button" [routerLink]="['/credit-company/return-investment']">
            <a class="sw-button sw-btn-orange">Return investment</a>
          </div>
        </div> 
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 center sw-top-bar-info">
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Total requested <p class="sw-value-font ">{{5000 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Total raised <p class="sw-value-font sw-blue1">{{4155 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Total to be returned <p class="sw-value-font sw-green">{{5789 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Assets <p class="sw-value-font sw-blue1">{{6}}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Next return on <p class="sw-value-font sw-blue1">{{(56845454 | date: 'dd MMM yyyy') || '--' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Due return <p class="sw-value-font ">{{(547 | currency:'USD':true:'.2') || '--' }}</p></div>
    </div>      
  </div>

  <div *ngIf="dashboardService.getAssets().length != 0" class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 sw-bottom-border center">
      <div class="col-xs-1 col-sm-1 col-md-1">Amount</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Amount to be returned</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Gross return</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Terms (Months)</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Collateral (SWAPY)</div>
      <div class="col-xs-1 col-sm-1 col-md-1">You will need to return on</div>
      <!-- <div class="col-xs-2 col-sm-2 col-md-2">investor</div> -->
      <div class="col-xs-4 col-sm-4 col-md-4">Asset progress</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Status</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Action</div>
    </div>

      <app-dashboard-offer [assets]="this.dashboardService.getAssets()"></app-dashboard-offer>

  </div>
  
    <div *ngIf="this.dashboardService.getAssets().length == 0">      
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
          <p class="sw-welcome-title sw-blue1 center">You don't have fundraising offers!</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
          <img src="assets/img/add-offer.svg" alt="Add offer image">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <p class="sw-page-description">We have plenty of investor looking for investment offers</p>
          <p class="sw-button sw-btn-ghost1" role="button" [routerLink]="['/credit-company/raise']">Create a fundraising offer</p>
        </div>    
      </div>
    </div>
</div>
