<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="sw-scrollbar2">
  <div class="row"> <!--  Page name, Search Bar -->
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Manage</p>
    </div>
  </div> <!-- END Page name, Search Bar  -->

  <div class="row"> <!-- //////////// MAIN Content //////////// -->
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

      <div class="col-md-12"> <!-- Start  -->
        <div class="sw-box">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="row">
                <br>
                <div class="col-sm-12 col-md-12"><!--Progress Bars-->
                  <div class="sw-prog-bar clearfix " data-percent="70%">
                    <div class="sw-prog-bar-title sw-bar-1"><span>$ 1.000.000,00</span></div>
                    <div class="sw-prog-bar-bar sw-bar-1"></div>
                    <div class="sw-prog-bar-percent">Total Requested</div>
                  </div>

                   <div class="sw-prog-bar clearfix " data-percent="35%">
                     <div class="sw-prog-bar-title sw-bar-2"><span>$ 500.000,00</span></div>
                     <div class="sw-prog-bar-bar sw-bar-2"></div>
                     <div class="sw-prog-bar-percent">Total Raised</div>
                   </div>
                </div>

              </div>
              <hr>


              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <p class="sw-title-blue-right">Fundraising Offers</p>
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion-->
                    <dashboard-offer *ngFor="let offer of offers; let isFirst = first" [offer]="offer" [isFirst]="isFirst"></dashboard-offer>

                  </div>
                </div>
              </div>
            </div><!-- END Accordion-->


          </div>
        </div>

       </div>
     </div>

   </div>
</div> <!-- END  -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
