<div>
  <div class="row"> <!--  Page name -->
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Manage</p>
    </div>
  </div> <!-- END Page name  -->
  
  <div class="row sw-top-row">
    <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
	    <div class="col-xs-2 col-sm-2 col-md-2">
	      <p class="sw-title-outside-box sw-border-light-green">Manage</p>
	    </div>
	    <div class="col-xs-3 col-sm-3 col-md-3">
	      <p class="sw-description-outside-box">Refuse investment</p>
	    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 center sw-top-bar-info">
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Total requested <p class="sw-value-font ">{{5000 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Total raised <p class="sw-value-font sw-blue1">{{4155 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Total to be returned <p class="sw-value-font sw-green">{{5789 | currency:'USD':true:'.2' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Assets <p class="sw-value-font sw-blue1">{{6}}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font sw-inline-left-border"> Next return on <p class="sw-value-font sw-blue1">{{(56845454 | date: 'dd MMM yyyy') || '--' }}</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 sw-info-font"> Due return <p class="sw-value-font ">{{(547 | currency:'USD':true:'.2') || '--' }}</p></div>
    </div>      
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 sw-bottom-border center">
      <div class="col-xs-1 col-sm-1 col-md-1">Amount</div>
      <div class="col-xs-2 col-sm-2 col-md-2">Amount to be returned</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Gross return</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Terms (Months)</div>
      <div class="col-xs-1 col-sm-1 col-md-1">Collateral (SWAPY)</div>
      <div class="col-xs-2 col-sm-2 col-md-2">You will need to return on</div>
      <!-- <div class="col-xs-2 col-sm-2 col-md-2">Investor</div> -->
      <div class="col-xs-1 col-sm-1 col-md-1">Status</div>
    </div>
  </div>

  <div *ngFor="let asset of assets, let i = index">
    <div class="row sw-assets">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <div class="col-xs-1 col-sm-1 col-md-1">{{asset.value | currency:'USD':true:'.2' }}</div>
        <div class="col-xs-2 col-sm-2 col-md-2 sw-blue1">{{assetMath.calculateReturnAmount(asset) | currency:'USD':true:'.2' }}</div>
        <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.grossReturn | percent}}</div>
        <div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': assetMath.calculateAssetProgression(asset) != 0 }">{{assetMath.calculateAssetProgression(asset)}}/{{asset.paybackMonths}}</div>
        <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.token || 'No collateral'}}</div>
        <div class="col-xs-2 col-sm-2 col-md-2">{{assetMath.calculatePaybackDate(asset) | date: 'dd MMM yyyy'}}</div>
      	<div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': asset.status == INVESTED, 'sw-orange': asset.status == PENDING_OWNER_AGREEMENT || asset.status == PENDING_INVESTOR_AGREEMENT, 'sw-green': asset.status >= RETURNED}">{{statusToString(asset.status)}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 sw-confirm-message">You are refusing <span class="sw-blue1">{{assets.length}} asset(s) </span>for investment.
	<p class="sw-blue1">Do you confirm that ?</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7" role="button">  
      <a class="sw-button sw-btn-return" routerLink='/credit-company'>Return</a>
    </div>
    <div class="col-sm-2 col-md-2" role="button">   
      <a class="sw-button sw-btn-refuse-assets" (click)="approveAsset()">Refuse</a> 
    </div>
  </div>

</div>
