.sw-top-row {
    height: 75px;
}
.sw-assets {
    padding: 10px 0 0 0;
    text-align: center;
    font-weight: 500;
}
.sw-confirm-message {
    margin-top: 20px;
    padding: 20px 0 0 10px;
    border-top: 2px solid #d8d8d8;	
    font-size: 16px;
    font-weight: 400;
}
.sw-button {
    border-radius: 300px;
    padding: 0 0 15px 0;
    margin: -10px 20px 0 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 300;
    width: 90%;
}
.sw-btn-refuse-assets {
    font-weight: 500;
    background-color: #00aeef;
    border: 1px solid #00aeef;
    color: #fff;
    padding: 10px 10px;

}
.sw-btn-refuse-assets:hover {
    background-color: #00baef;
    border: 1px solid #00baef;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
}
.sw-btn-return {
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #00baef;
    color: #00baef;
    padding: 10px 10px;

}
.sw-btn-return:hover {
    background-color: #fff;
    border: 1px solid #00baef;
    color: #00baef;
    padding: 10px 10px;
    text-decoration: none;
}