<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Raise</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class=" col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row sw-box-space">

              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-sm-10 col-md-10">
                     <p class="sw-box-title">Do you confirm your offer?</p>
                     <p class="sw-box-text sw-blue1"><a href="#">Contract &nbsp; <i class="fa fa-file-text-o" aria-hidden="true"></i></a></p>


                  </div>

                  <div class="col-sm-2 col-md-2 sw-company-logo-right">
                     <a href="2-profile-account"><img src="/assets/img/meucreditoapp-logo2.jpg" alt="meu credito app logo"></a>
                  </div>

                </div>
                <hr>

              <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                  <p class="sw-box-text sw-confirmation-col-left">Fundraising:</p>
                  <p class="sw-box-text sw-confirmation-col-left">ROI:</p>
                  <p class="sw-box-text sw-confirmation-col-left">Payback:</p>
                  <!-- <p class="sw-box-text sw-confirmation-col-left">Installments:</p> -->

              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                  <p class="sw-box-text">{{offer.raisingAmount | currency}}</p>
                  <p class="sw-box-text">{{offer.roi | percent}} per annum</p>
                  <p class="sw-box-text">{{offer.paybackMonths}} months</p>
                  <!-- <p class="sw-box-text">8 x</p> -->

              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                  <p class="sw-box-text">5 Assets of</p>
                  <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"> </i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i>
                  <p class="sw-box-text">{{offer.raisingAmount/5 | currency}}</p>

              </div>
            </div>
                  <br>                  

              <div *ngIf="errorMessages.length > 0">
                <div *ngFor="let message of errorMessages" class="alert alert-danger">
                  {{message}}
                </div>  
              </div>

              <div class="row">
                <div class=" col-sm-4 col-md-4">
                </div>
                <div class="col-sm-4 col-md-4">
                  <a class="sw-button sw-btn-ghost2" routerLink="/credit-company/raise">Return</a>
                </div>
                <div class=" col-sm-4 col-md-4">
                  <a class="sw-button sw-btn-ghost1" (click)="confirmOffer()">Confirm</a>
                </div>
              </div>

             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
