.sw-title-outside-box {
    font-weight: 400;
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 0 15px 0;
    margin-left: 20px;
    width: 100%;
}
.sw-border-dark-orange {
    border-bottom: 3px solid #eb9739;
}
.sw-border-light-orange {
    border-bottom: 3px solid #eebe4c;
}
.sw-border-light-green {
    border-bottom: 3px solid #b1d432;
}
.sw-border-light-blue {
    border-bottom: 3px solid #00aeef;
}
.sw-fade-color {
    font-weight: 200;
}
.sw-welcome-title {
    padding-top: 30px;
    font-size: 32px;
    font-weight: 500;
}
img {
    width: 100%;
}
.sw-start-investing-description {
    padding: 30px 0 50px 0;
    font-size: 26px;
    font-weight: 500;
}