  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Invest</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <form (submit)="invest()">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

            <div class=" col-md-12"> <!-- Start  -->
              <div class="sw-box">
              <div class="row sw-box-space">

                <div class="col-sm-12 col-md-12">
                  <div class="row">
                    <div class="col-sm-10 col-md-10">
                       <p class="sw-box-title">Fundraising Offer</p>
                       <p class="sw-box-text">{{offer.companyName}} - {{offer.uuid}}</p>
                       <p class="sw-box-text">Contract address - {{offer.contractAddress}}</p>

                       <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"> </i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-2 col-md-2 sw-company-logo-right">
                       <a><img src="assets/img/noImage.png" alt="meu credito app logo"></a>
                    </div>
                  </div>
                  <hr>

                <div class="row">
                 <div class="col-sm-6 col-md-6 sw-assets">
                    <div *ngFor="let asset of offer.assets, let i = index" class="checkbox">
                     <label>
                      <input type="checkbox" name="assets_{{i}}" [(ngModel)]="assets[i]" [disabled]="asset.status !== TX_CREATED" (change)="setTotalAssetsValue()">
                      <p class="sw-box-text">Asset {{i + 1}} - <span [ngClass]="{'sw-box-title': true, 'sw-asset-sold-line': asset.status !== TX_CREATED }">{{asset.value | currency}}</span><span *ngIf='asset.status !== TX_CREATED'> {{' ' + statusToString(asset.status)}}</span></p>
                     </label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 sw-details-right-col">
                    <p class="sw-box-text">Fundraising</p>
                    <p class="sw-box-title">{{offer.raisingAmount | currency}}</p>
                    <p class="sw-box-text">Gross return rate</p>
                    <p class="sw-box-title">{{offer.roi | percent}}</p>
                    <p class="sw-box-text">Contract term</p>
                    <p class="sw-box-title">{{offer.paybackMonths}} months</p>
                    <!-- <p class="sw-box-text">Installments</p>
                    <p class="sw-box-title">8 x</p> -->
                </div>
              </div>

                <div class="row">
                  <div *ngIf="errorMessages.length > 0">
                    <div *ngFor="let message of errorMessages" class="alert alert-danger">
                      {{message}}
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class=" col-sm-8 col-md-8">
                    <p class="sw-assets-total">TOTAL {{totalAssetsValue | currency}}</p> <!-- Total = n. of Assets selected above -->
                  </div>
                  <div class=" col-sm-4 col-md-4">
                    <!-- <a class="sw-button sw-btn-ghost1" href="javascript:void(0)">Invest</a> -->
                    <button type="submit" class="sw-button sw-btn-ghost1" >Invest</button>
                  </div>
                </div>

               </div>
              </div>

            </div>
            </div> <!-- END  -->

        </div>
      </form>
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  -->
