

<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Invest</p>
      </div>
      <!-- <div class="col-xs-6 col-sm-6 col-md-6 sw-search-bar">
       <div class="input-group" id="search-bar">
        <input type="text" class="form-control sw-search-bar" placeholder="Search offers">
        <span class="input-group-btn">
           <button class="btn btn-default sw-search-bar-icon" type="button"><i class="fa fa-search"></i></button>
        </span>
       </div>
      </div> -->

      <!-- <div class="col-xs-2 col-sm-2 col-md-2 sw-search-button">
           <a href="#" id="swapy-button"><img class="sw-btn1" src="assets/img/swapy-button.png" alt="Swapy logo"></a>
           <a href="#" id="swapy-button2"><img class="sw-btn2" src="assets/img/swapy-button2.png" alt="Swapy logo"></a>

      </div> -->
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class=" col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row sw-box-space">

            <div class="col-sm-12 col-md-12">
              <div class="row" *ngIf='successfulMessage != undefined'>
                  <p class="sw-box-title">{{successfulMessage}}</p>
                  <hr>
              </div>
              <div class="row"  *ngIf='successfulMessage == undefined'>
                  <p class="sw-box-title sw-error-message" *ngFor='let errorsMessage of errorsMessages'>{{errorsMessage}}</p>
                  <hr>
              </div>

            <div class="row">
              <div class=" col-sm-4 col-md-4">
              <img src="assets/img/swapy-logo5.jpg" alt="Swapy logo">
              </div>
              <div class=" col-sm-8 col-md-8" *ngIf='successfulMessage != undefined'>
                  <p class="sw-box-text sw-blue1">Your wallet address: {{walletAddress}}</p>
              </div>
            </div>

              <div class="row">
                <div class=" col-sm-4 col-md-4"  *ngIf='successfulMessage != undefined'>
                  <p class="sw-box-text sw-successful-message">Now you can follow your investment status on: <span routerLink="/investor" class="sw-successful-bold">Manage</span></p>
                </div>
                <div class=" col-sm-4 col-md-4"  *ngIf='successfulMessage == undefined'>
                  <p class="sw-box-text sw-successful-message">You can go back and choose another asset</p>
                </div>
                <div class=" col-sm-4 col-md-4">
                </div>
                <div class=" col-sm-4 col-md-4"*ngIf='successfulMessage != undefined'>
                  <a class="sw-button sw-btn-ghost1" routerLink="/investor">Close</a>
                </div>
                <div class=" col-sm-4 col-md-4" *ngIf='successfulMessage == undefined'>
                  <a class="sw-button sw-btn-ghost1" routerLink="/investor/offer/{{offerIndex}}">Go back</a>
                </div>
              </div>


             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

      </div> <!-- END col 10  -->
