<div class="panel panel-info">
  <div class="panel-heading" role="tab" id="headingOne">
   <div class="row">
      <div class="col-sm-8 col-md-8">
         <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" (click)="toggleCollapse()" aria-expanded="true" aria-controls="collapseOne">{{offer.raisingAmount | currency}} <span class="sw-box-text">{{offer.companyName}} -- {{offer.uuid}}</span></a>
         </h4>
      </div>
      <div class="col-sm-4 col-md-4">
         <p class="sw-box-text sw-collapse-icons"><i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle" aria-hidden="true"> </i> <i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> | <span class="sw-low">Low Funds</span></p>
      </div>
   </div>
  </div>

  <div id="collapseOne" class="panel-collapse collapse" [ngClass]="{'in': collapsed}" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="col-sm-3 col-md-3">
          <p class="sw-box-text">Fundraising: {{offer.raisingAmount | currency:'USD':true:'.2'}}</p>
          <p class="sw-box-text">Payback: {{offer.paybackMonths}} months</p>
          <!-- <p class="sw-box-text">6 installments</p> -->
          <p class="sw-box-text">ROI: {{offer.roi | percent}}</p><hr>
          <p class="sw-box-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Launch: {{offer.createdOn | date: 'yyyy-MM-dd'}}</p>

      </div>
      <div class="col-sm-3 col-md-3">
          <p class="sw-box-text">5 Assets of: {{offer.raisingAmount/5 | currency:'USD':true:'.2'}}</p>
          <p class="sw-box-text">Debt: {{offer.paybackMonths}}x {{(offer.raisingAmount*(1+offer.roi))/offer.paybackMonths | currency:'USD':true:'.2'}}</p>
          <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
          <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
      </div>
      <div class="col-sm-3 col-md-3">
          <p class="sw-box-text sw-chart-installs">Payback (months)</p>
          <div class="sw-progress-circle p0"> <!-- Start Circular chart-->
            <span>0/{{offer.paybackMonths}}</span>
            <div class="sw-left-half-clipper">
               <div class="sw-first50-bar"></div>
               <div class="sw-value-bar"></div>
           </div>
          </div> <!-- End Circular chart-->
      </div>
      <div class="col-sm-3 col-md-3">
          <p class="sw-box-text sw-chart-roi">ROI</p>
          <div class="sw-progress-circle p{{offer.roi*100}}"> <!-- Start Circular chart-->
            <span>{{offer.roi | percent}}</span>
            <div class="sw-left-half-clipper">
               <div class="sw-first50-bar"></div>
               <div class="sw-value-bar"></div>
           </div>
          </div> <!-- End Circular chart-->
      </div>

      <hr>
      <div class="col-sm-12 col-md-12 table-responsive">
        <table class="table table-hover">
           <tr class="active">
              <th>Asset</th>
              <th>Investor</th>
              <th>First Payback</th>
              <th>Last Payback</th>
              <th>{{offer.paybackMonths}}x</th>
           </tr>
           <tr>
              <td>1</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <td>2</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <td>3</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <td>4</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
           <tr>
              <td>5</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
           </tr>
        </table>

      </div>


    </div>
  </div>
</div>
