
.sw-chart-installs {
    padding-left: 12px;
}
.sw-chart-roi {
    padding-left: 58px;
}
.sw-collapse-icons {
    text-align: right;
}
.sw-accept-decline {
  width: 42px;
  height: 42px;
  border-radius: 50% !important;
}
