<div *ngFor="let asset of assets;">
  <div class="row sw-assets">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="col-xs-1 col-sm-1 col-md-1">{{asset.value | currency:'USD':true:'.2' }}</div>
      <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{calculateReturnAmount(asset) | currency:'USD':true:'.2' }}</div>
      <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.grossReturn | percent}}</div>
      <div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': calculateAssetProgression(asset) != 0 }">{{calculateAssetProgression(asset)}}/{{asset.paybackMonths}}</div>
      <div class="col-xs-1 col-sm-1 col-md-1 sw-blue1">{{asset.token || 'No collateral'}}</div>
      <div class="col-xs-1 col-sm-1 col-md-1">{{calculatePaybackDate(asset) | date: 'dd MMMM yyyy'}}</div>
      <!-- <div class="col-xs-2 col-sm-2 col-md-2">asset.creditCompanyAddress</div> -->
      <div class="col-xs-4 col-sm-4 col-md-4">

          <div *ngIf="asset.status >= RETURNED" class="sw-full-bar"> <!-- ////// Full green bar ////// -->
            <div class="progress-bar prog100"></div>
          </div>
          <div *ngIf="(asset.status >= INVESTED && asset.status < RETURNED) || asset.status == PENDING_ETHEREUM_CONFIRMATION" class="progress sw-blue-bar"> <!-- ////// Blue progress bar ////// -->
            <div class="progress-bar prog{{percentageProgression(asset)}}"></div>
          </div>
          <div *ngIf="asset.status == PENDING_OWNER_AGREEMENT" class="progress"> <!-- ////// 0% progress bar ////// -->
            <div class="progress-bar prog0"></div>
          </div>

      </div>
      <div class="col-xs-1 col-sm-1 col-md-1" [ngClass]="{'sw-blue1': asset.status == INVESTED, 'sw-orange': asset.status == PENDING_OWNER_AGREEMENT || asset.status == PENDING_INVESTOR_AGREEMENT, 'sw-green': asset.status >= RETURNED}">{{statusToString(asset.status)}}</div>
      <div class="col-xs-1 col-sm-1 col-md-1">
        <span (click)="selectAsset(asset)" *ngIf="asset.selected == 0" class="sw-circle sw-circle-available" role="button">
          <span>0</span>
        </span>
        <span (click)="selectAsset(asset)" *ngIf="asset.selected == 1" class="sw-circle sw-circle-selected" role="button">
          <span><i class="fa fa-check"></i></span>
        </span>
        <span *ngIf="asset.selected == -1" class="sw-circle sw-circle-unavailable" role="button">
          <span>X</span>
        </span>
      </div>
    </div>
  </div>
</div>