<img src="assets/img/swapy-logo.jpg" alt="swapy logo">
<h1 class="sw-sign-title">Sign up</h1>
<input type="text" class="form-control sw-round" placeholder="Full name | Company name"><br>
<input type="text" class="form-control sw-round" placeholder="Email"><br>
<input type="text" class="form-control sw-round" placeholder="Password"><br>
<input type="text" class="form-control sw-round" placeholder="Confirm password"><br>
<div class="row sw-check-type">  
  <div class="checkbox">
    <label>  
      <input type="checkbox"> I am an Investor
    </label> 
  </div>
  <div class="checkbox">   
    <label>
      <input type="checkbox"/> I am a Credit Company
    </label>
  </div>
</div>

<a class="sw-button sw-btn-ghost1 key2" routerLink="/2fa/question">Sign up</a><br/>

<div class="checkbox">
    <label>
      <input type="checkbox" />I agree to Swapy's<a href="#"> Terms of Service</a> and<a href="#"> Privacy Policy.</a>
    </label>
</div>

<div id="sw-activate" class="hide">
  <p class="sw-return return2"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i> return</a></p>
  <img src="img/swapy-logo.jpg" alt="swapy logo">
  
  <h4>Account activation</h4>
  <p class="sw-activation-message">Enter the code sent to your email to activate your account.</p>
  <input type="text" class="form-control sw-round" placeholder="xxxxxxxxx"><br>

  <div class="row">
  <div class="col-md-6"> 
  </div>  
  <div class="col-md-6"> 
  <a class="sw-button sw-btn-ghost1" href="#">Send</a>
  </div>
  </div>
</div>

    