<img src="assets/img/swapy-logo.jpg" alt="swapy logo">
<h1 class="sw-sign-title">Sign up</h1>
<form (submit)="signUp()">
<input type="text" class="form-control sw-round" placeholder="Full name | Company name" name="name" [(ngModel)]="name" required><br>
<input type="text" class="form-control sw-round" placeholder="Email" name="email" [(ngModel)]="email" required><br>
<input type="password" class="form-control sw-round" placeholder="Password" name="password" [(ngModel)]="password" required><br>
<input type="password" class="form-control sw-round" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPassword" required><br>
<div class="row sw-check-type">
  <div class="checkbox">
    <label>
      <input type="radio" name="type" [value]="1" [(ngModel)]="type" [checked]="type==1"/> I am an Investor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="radio" name="type" [value]="2" [(ngModel)]="type" [checked]="type==2"/> I am a Credit Company
    </label>
  </div>
</div>

<button type="submit" class="sw-button sw-btn-ghost1 key2">Sign up</button><br/>

<div class="checkbox">
    <label>
      <input type="checkbox" name="terms" required [(ngModel)]="terms"/>I agree to Swapy's<a href="#"> Terms of Service</a> and<a href="#"> Privacy Policy.</a>
    </label>
</div>
</form>

<!-- <div id="sw-activate" class="hide">
  <p class="sw-return return2"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i> return</a></p>
  <img src="img/swapy-logo.jpg" alt="swapy logo">

  <h4>Account activation</h4>
  <p class="sw-activation-message">Enter the code sent to your email to activate your account.</p>
  <input type="text" class="form-control sw-round" placeholder="xxxxxxxxx"><br>

  <div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  <a class="sw-button sw-btn-ghost1" href="#">Send</a>
  </div>
  </div>
</div> -->
