 <div class="sw-scrollbar2">  
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4"> 
        <p class="sw-page-name">Invest</p>
      </div>
    </div> <!-- END Page name, Search Bar  --> 

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class="col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row">

              <div class="col-sm-12 col-md-12">

                <div class="row">
                  <div class="col-sm-4 col-md-4">
                     <p class="sw-box-title">Meu Crédito App</p>

                    <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i>

                     <p class="sw-box-text"><a href="#">Foundation documents &nbsp; <i class="fa fa-clone" aria-hidden="true"></i></a></p>
                     <p class="sw-box-text">Compulsory deposit &nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; <b>15%</b></p>                    
                  </div>
                  
                  <div class="col-sm-8 col-md-8 sw-company-info">
                     <p class="sw-box-text"><a href="http://www.meucreditoapp.com.br" target="blank">www.meucreditoapp.com.br <i class="fa fa-search sw-company-info-icon" aria-hidden="true"></i></a></p>
                     <p class="sw-box-text">contato@meucreditoapp.com.br <i class="fa fa-envelope-o sw-company-info-icon" aria-hidden="true"></i></p>
                     <p class="sw-box-text">Brazil - Recife/PE - Rua Do Bom Jesus, 180 <i class="fa fa-map-marker sw-company-info-icon" aria-hidden="true"></i></p>
                     <p class="sw-box-text">CNPJ: 26.203.327/0001-54 <i class="fa fa-check sw-company-info-icon" aria-hidden="true"></i></p>
                  </div>    
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-2 col-md-2 sw-company-logo-left">
                  <img src="img/noImage.png" alt="meu credito app logo">
                  </div>
                  <div class="col-sm-8 col-md-8">
                  <p class="sw-box-text">Meu Crédito App is the mobile app for last mile loan's origination. We practice legal interest and training in financial education to help each client in realizing their dreams and personal goals.</p>
                  </div>
                </div>  
                <hr>

            <div class="row">
              <div class="col-sm-12 col-md-12">                  
                <p class="sw-title-blue-right">Total raised: $ 250.000,00</p>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion--> 
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
     <div class="row"> 
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Raised $50.000,00 <span class="sw-box-text">- 02 jan 2017</span></a>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2">
           <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i>
        </div>
     </div> 
    </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="col-sm-4 col-md-4">
            <p class="sw-box-text">Investor: X</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">ROI: 20%</p>
        </div>
        <div class="col-sm-8 col-md-8">
            <p class="sw-box-text">Installments paid: 3</p>
            <p class="sw-box-text">Next payment: 11 jun 2017</p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="row"> 
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Raised $100.000,00 <span class="sw-box-text">- 13 jan 2017</span></a>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2">
           <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i>
        </div>
     </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="col-sm-4 col-md-4">
            <p class="sw-box-text">Investor: X</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">ROI: 20%</p>
        </div>
        <div class="col-sm-8 col-md-8">
            <p class="sw-box-text">Installments paid: 3</p>
            <p class="sw-box-text">Next payment: 11 jun 2017</p>
            <p class="sw-box-text">Performance: <span class="sw-medium">Medium / Delay in payments</span></p>
        </div>  

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <div class="row"> 
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Raised $100.000,00 <span class="sw-box-text">- 25 jan 2017</span></a>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2">
           <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i>
        </div>
     </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="col-sm-4 col-md-4">
            <p class="sw-box-text">Investor: X</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">ROI: 20%</p>
        </div>
        <div class="col-sm-8 col-md-8">
            <p class="sw-box-text">Installments paid: 3</p>
            <p class="sw-box-text">Next payment: 11 jun 2017</p>
            <p class="sw-box-text">Performance: <span class="sw-low">Low / Delay in payments</span></p>
        </div> 
      </div>
    </div>
  </div>
</div><!-- END Accordion--> 
               
               
               <div class="row">
                  <p class="sw-box-since"><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;&nbsp; Since july 25, 2015</p>
               </div>
               <div class="row">
                  <div class="col-sm-8 col-md-8">
                  </div> 
                  <div class="col-sm-4 col-md-4">
                    <a class="sw-button sw-btn-ghost1" href="" onclick="goBack()">Return</a>
                  </div>
               </div> 

              </div> 
            </div>

             </div>
            </div>
                        
          </div>
          </div> <!-- END  -->
          
      </div>   
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  --> 