<div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Start</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-1 col-xs-offset-4 col-sm-1 col-sm-offset-4 col-md-1 col-md-offset-4">
      <p class="sw-title-outside-box sw-border-dark-orange sw-fade-color" role="button" [routerLink]="['/credit-company/add-funds']">Add funds</p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <p class="sw-title-outside-box sw-border-light-orange" role="button">Raise</p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <p class="sw-title-outside-box sw-border-light-green sw-fade-color" role="button" [routerLink]="['/credit-company']">Manage</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <p class="sw-welcome-title sw-blue1 center">Welcome to Swapy Exchange!</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
      <img src="assets/img/add-offer.svg" alt="Add offer image">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <p class="sw-start-description">We have plenty of investor looking for investment offers</p>
      <p class="sw-button sw-btn-ghost1" role="button" [routerLink]="['/credit-company/raise']">Create a fundraising offer</p>
    </div>  
  </div>

</div>
