.sw-title-outside-box {
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
    padding: 0 0 15px 0;
    border-bottom: 3px solid #00aeef;
}
.sw-description-outside-box {
    font-weight: 300;
    font-size: 18px;
    color: #4a4a4a;
    padding: 0 0 15px 0;
}