<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Confirm purchase</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row">
      <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
         <p class="sw-title-outside-box">Marketplace</p>        
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
         <p class="sw-description-outside-box">Buy asset</p>        
      </div>
    </div>

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1">

      </div>
    </div>

</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
