<div class="sw-scrollbar2">
  <div class="row"> <!--  Page name, Search Bar -->
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Add funds</p>
    </div>
  </div> <!-- END Page name, Search Bar  -->
  
  <div class="row">
    <div class="col-xs-1 col-xs-offset-4 col-sm-1 col-sm-offset-4 col-md-1 col-md-offset-4">
      <p class="sw-title-outside-box sw-border-dark-orange" role="button">Add funds</p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <p class="sw-title-outside-box sw-border-light-orange sw-fade-color" role="button" [routerLink]="['/investor/offers']">Invest</p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <p class="sw-title-outside-box sw-border-light-green sw-fade-color" role="button" [routerLink]="['/investor']">Manage</p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <p class="sw-title-outside-box sw-border-light-blue sw-fade-color" role="button" [routerLink]="['/investor/marketplace']">Marketplace</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <p class="sw-welcome-title sw-blue1 center">Welcome to Swapy Exchange, User !</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-4 col-md-2 col-md-offset-4">
      <img src="assets/img/add-funds.svg" alt="Add funds image">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <p class="sw-add-funds-description">Add funds to your wallet to start investing</p>
      <p class="sw-button sw-btn-ghost1" role="button">Add funds</p>
    </div>
    
  </div>

</div>
