<div class=" col-md-4"> <!-- Start Contract -->
  <div class="sw-box">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8">
        <p class="sw-box-text">{{offer.companyName}}</p>
        <p class="sw-contract-number">{{offer.uuid}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="assets/img/swapy-logo4.png" alt="Swapy logo">
      </div>
    </div>

    <p class="sw-box-text">Fundraising</p>
    <p class="sw-box-title">{{offer.raisingAmount | currency:'USD':false:'.0-2'}}</p>
    <p class="sw-box-text">Gross return rate</p>
    <p class="sw-box-title">{{offer.roi | percent}}</p>
    <p class="sw-box-text">Payback</p>
    <p class="sw-box-title">{{offer.paybackMonths}} months</p>
    <br>
    <div class="sw-box-text">
      <p>Available assets</p>
      <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"> </i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i> <i class="fa fa-circle sw-blue1" aria-hidden="true"></i>
    </div>
    <a class="sw-button sw-btn-ghost1" routerLink="/investor/offer/{{offerIndex}}">See details</a>
  </div>
</div> <!-- END Contract -->
