.sw-box:hover {
    background-color: #FFF;
    border: 1px solid #adb4bc;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    text-align: left;
    box-shadow: rgba(0,0,0,0.2) 0 10px 10px 0;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 10px 10px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 10px 10px 0;
}
.sw-wallet-number {
    font-weight: 500;
    font-size: 16px
}
