<div class=" col-md-4"> <!-- Start Contract -->
  <div class="sw-box" routerLink="/investor/offer/{{offerIndex}}">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <img src="assets/img/swapy-logo4.png" alt="Swapy logo">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <p class="sw-box-text">Gross return rate</p>
        <p class="sw-box-title sw-blue1">{{offer.grossReturn | percent}}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <p class="sw-box-text">Fundsraising</p>
        <p class="sw-box-title">{{offer.raisingAmount | currency:'USD':false:'.0-2'}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <p class="sw-box-text">Terms (months)</p>
        <p class="sw-box-title">{{offer.paybackMonths}}</p>
      </div>
    </div>

    <br>
    <div class="sw-box-text center">
      <p>Average collateral: <span class="sw-blue1">3 SWAPY</span></p>
      <i class="fa fa-minus fa-2x sw-blue1" aria-hidden="true"></i> <i class="fa fa-minus fa-2x sw-blue1" aria-hidden="true"> </i> <i class="fa fa-minus fa-2x sw-blue1" aria-hidden="true"></i> <i class="fa fa-minus fa-2x" aria-hidden="true"></i> <i class="fa fa-minus fa-2x" aria-hidden="true"></i>
      <p> 3 Asset(s) Available </p>
    </div>
  </div>
</div> <!-- END Contract -->
