<app-nav></app-nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="row sw-top">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img class="sw-swapy-logo" src="assets/img/swapy-logo.jpg" alt="Swapy logo">
          <img class="sw-swapy-logo2" src="assets/img/swapy-logo2.jpg" alt="Swapy logo">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 sw-funds">
          <p class="sw-funds-value">
            <span class="sw-available-lable">
              <a (click)="refreshBalance()" href="javascript:void(0);">
                <i class="fa fa-lg fa-refresh" aria-hidden="true" title="Refresh"></i> Available
              </a>
            </span> ETH {{ETHbalance}}
          </p>
          <p class="sw-funds-value">
            <span class="sw-available-lable">
              <a (click)="refreshBalance()" href="javascript:void(0);">
                <i class="fa fa-lg fa-refresh" aria-hidden="true" title="Refresh"></i> Available
              </a>
            </span> SWAPY {{tokenBalance}}
          </p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 sw-funds">
          <p class="sw-fiat-value sw-usd-funds-value"> > &nbsp; {{USDbalance | currency:'USD':false:'.2'}}</p>
          <p class="sw-fiat-value sw-index-value"> Index {{ETHprice}}</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 left-border">
          <a class="sw-button sw-btn-ghost1" (click)="refresh()" role="button">Refresh</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <img src="assets/img/icon-32.png" alt="MetaMask logo" class="icon" />          
        </div>
      </div>

      <router-outlet></router-outlet>        

    </div>
  </div>
</div>

<app-footer></app-footer>
