<!-- <p class="sw-return return2"><a routerLink="/"><i class="fa fa-arrow-left"></i> return</a><br><br></p>
 -->
<img src="assets/img/swapy-logo.jpg" alt="swapy logo">
<p class="sw-redefine-pass">Fill up your email and click in Continue. We will send you a notification by email with instructions to redefine your password.</p>

<div *ngIf="errorMessages.length > 0">
  <div *ngFor="let message of errorMessages" class="alert alert-danger">
    {{message}}
  </div>  
</div>

<form #forgotPasswordForm="ngForm" (submit)="retrivePassword()">
  <input type="email" class="form-control sw-round" placeholder="Email" name="email" [(ngModel)]="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" #emailInput="ngModel" required/><br>
  <div *ngIf="emailInput.errors && (emailInput.touched || emailInput.dirty)" class="alert alert-danger">
    <div [hidden]="!emailInput.errors.required">
      Email is required.
    </div>
    <div [hidden]="!emailInput.errors.pattern">
      Email format is invalid.
    </div>
  </div>
  <button type="submit" class="sw-button sw-btn-ghost1" [disabled]="!forgotPasswordForm.form.valid">Continue</button>
  <a class="sw-button sw-btn-ghost2" routerLink="/">Back</a>
</form>
