<!-- <p class="sw-return return2"><a routerLink="/"><i class="fa fa-arrow-left"></i> return</a><br><br></p>
 -->
<img src="assets/img/swapy-logo.jpg" alt="swapy logo">
<p class="sw-redefine-pass">Fill up your email and click in Continue. We will send you a notification by email with instructions to redefine your password.</p>
<input type="text" class="form-control sw-round" placeholder="Email"><br>
<a class="sw-button sw-btn-ghost1" href="#">Continue</a>
<a class="sw-button sw-btn-ghost2" routerLink="/">Back</a>