<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div>
    <div class="row">
      <!-- Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Marketplace</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div *ngIf="marketplaceService.getAssets().length != 0" class="row">
      <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
         <p class="sw-title-outside-box sw-border-light-blue">Marketplace</p>        
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
         <p class="sw-description-outside-box">Assets (already invested) for sale</p>        
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
         <p class="sw-button-add-funds sw-btn-add-funds" role="button" [routerLink]="['/investor/add-funds/child']">Add funds</p>        
      </div>
    </div>

    <div class="row"><!-- //////////// MAIN Content //////////// -->
      <div *ngIf="marketplaceService.getAssets().length != 0" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <asset-card *ngFor="let asset of marketplaceService.getAssets(); let assetIndex = index" [asset]="asset" [assetIndex]="assetIndex"></asset-card>

      </div>

      <div *ngIf="marketplaceService.getAssets().length === 0" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
         <p class="sw-no-offers">Sorry! No assets found.</p>
      </div>
    </div><!-- END MAIN Content  -->
</div>
