<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion-->
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
     <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" (click)="toggleCollapse()"  aria-expanded="true" aria-controls="collapseOne">{{investment.totalAmount | currency:'USD':true:'.2' }} <span class="sw-box-text">- {{investment.companyName}} - {{investment.uuid}}</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons">Assets: {{investment.assets.length}} | <i aria-hidden="true"></i> {{investment.roi | percent}}</p>
        </div>
     </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse" [ngClass]="{'in': collapsed}"  role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <a href="credit-company-profile.html"><p class="sw-box-text sw-blue1">{{investment.companyName}}</p></a>
            <p class="sw-box-text">Payback: {{investment.paybackMonths}} months</p>
            <p class="sw-box-text">Since {{investment.investedIn | date: 'yyyy-MM-dd'}}</p><hr>
            <a href (click)="exploreContract(investment.offerContractAddress)"><b>Explore Ethereum contract</b></a>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Investment: {{investment.totalAmount | currency:'USD':true:'.2' }}</p>
            <p class="sw-box-text">Gross return: {{calculateReturnAmount() | currency:'USD':true:'.2' }}</p>
            <p class="sw-box-text">Payback date: <span class="sw-blue1">{{calculatePaybackDate() | date: 'yyyy-MM-dd'}}</span></p>
            <!-- <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p> -->
            <!-- <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p> -->
        </div>
        <!-- <div class="col-sm-3 col-md-3"> -->
            <!-- <p class="sw-box-text sw-chart-installs">Installments payed</p> -->
            <!-- <div class="sw-progress-circle p50"> -->
            <!-- Start Circular chart-->
              <!-- <span>3/6</span> -->
              <!-- <div class="sw-left-half-clipper"> -->
                 <!-- <div class="sw-first50-bar"></div> -->
                 <!-- <div class="sw-value-bar"></div> -->
             <!-- </div> -->
            <!-- </div>  -->
            <!-- End Circular chart-->
        <!-- </div> -->
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">Gross return rate</p>
            <div class="sw-progress-circle p{{investment.roi*100}}"> <!-- Start Circular chart-->
              <span>{{investment.roi | percent}}</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

        <hr>

        <div class="col-sm-12 col-md-12 table-responsive">
          <table class="table table-hover">
            <tr class="active">
              <th>Asset</th>
              <th>Value</th>
              <th>Status</th>
              <th>Contract</th>
              <th>Transfer</th>
            </tr>
            <tr *ngFor="let asset of investment.assets, let i = index">
              <td>{{i + 1}}</td>
              <td>{{asset.value | currency:'USD':true:'.2'}}</td>
              <td>{{statusToString(asset.status)}}</td> <!--@todo "status.toString()" -->
              <td><span *ngIf="!asset.contractAddress">-</span><a *ngIf="asset.contractAddress" href (click)="exploreContract(asset.contractAddress)">Explore</a></td>
              <td>
                <button class="btn sw-accept-decline sw-btn-ghost1" *ngIf="asset.status == TX_AGREED"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn sw-accept-decline sw-btn-danger" *ngIf="asset.status == TX_AGREED"><i class="fa fa-times" aria-hidden="true"></i></button>
              </td>
            </tr>

          </table>

        </div>

      </div>
    </div>
  </div>
</div>
