
html, body {
  margin: 0;
  padding: 0;
}

.bg-gray {
  background-color: #F2F2F2;
}

.bg-white {
  background-color: #FFFFFF;
}

.content {
  min-height: 400px;
}

.page-title h3{
  color: #7E7E7E;
  padding: 10px 0px 20px 5px;
}

.no-padding {
  padding: 0 !important;
}

.funds-title h3 {
  font-size: 22px;
}

.funds-title p {
  font-size: 12px;
  margin-top: -7px;
}

.funds-description p {
  font-size: 14px;
}

.funds-description h3 {
  margin-top: -8px;
  margin-bottom: 35px;
}

.funds-description h3 > span {
  font-size: 12px;
  font-style: italic;
}

.funds-description button {
  background-color: #00AEEF;
  color: #FFFFFF;
  width: 100%;
  border-radius: 25px;
  margin-left: -1px;
  margin-top: 14px;
  padding: 10px;
}

.funds-description button:hover, button:focus, button:active {
  color: #FFFFFF;
  outline: none;
}

.funds-description button > span {
  background-color: #FFFFFF;
  border-radius: 50px;
  height: 5px;
  width: 5px;
}

.credit-options ul {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 5px;
  border-right: 1px solid #7E7E7E;
}

.credit-options ul li{
  font-size: 22px;
  padding-bottom: 8px;
}

.credit-options ul li label > input[type="checkbox"] {
  display: inline-block !important;
  position: relative !important;
  top: -3px;
  left: 20px;
  line-height: normal;
}

.total {
  margin-top: -8px;
  color: #00AEEF;
}

.total span > i{
  margin-left: 55px;
}

.funds-description h3 {
  text-align: left;
}
