<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Manage</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class="col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row">

              <div class="col-sm-12 col-md-12">

                <div class="row">
                  <br>
                  <div class="col-sm-12 col-md-12"><!--Progress Bars-->
                     <div class="sw-prog-bar clearfix " data-percent="35%">
                       <div class="sw-prog-bar-title sw-bar-1"><span>$ 500.000,00</span></div>
                       <div class="sw-prog-bar-bar sw-bar-1"></div>
                       <div class="sw-prog-bar-percent">Total Spent</div>
                     </div>

                     <div class="sw-prog-bar clearfix " data-percent="70%">
                       <div class="sw-prog-bar-title sw-bar-2"><span>$ 1.000.000,00</span></div>
                       <div class="sw-prog-bar-bar sw-bar-2"></div>
                       <div class="sw-prog-bar-percent">Return</div>
                     </div>
                  </div>

                </div>
                <hr>


            <div class="row">
              <div class="col-sm-12 col-md-12">
                <p class="sw-title-blue-right">Investments</p>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion-->
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
     <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">$25.000,00 <span class="sw-box-text">- Contract N.143 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons">Assets: 3 | <i class="fa fa-calendar-check-o" aria-hidden="true"></i> No delay | 20%</p>
        </div>
     </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <a href="credit-company-profile.html"><p class="sw-box-text sw-blue1">Meu Crédito</p></a>
            <p class="sw-box-text">Payback: 4 months</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">Since 11 mar 2017</p><hr>
            <p class="sw-box-text">Contract Address: <a href=""><b>185c4cc8…3ab88279</b></a></p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Investment: 25.000,00</p>
            <p class="sw-box-text">Return: 30.000,00</p>
            <p class="sw-box-text">Next payment: <span class="sw-blue1">11 jun 2017</span></p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Installments payed</p>
            <div class="sw-progress-circle p50"> <!-- Start Circular chart-->
              <span>3/6</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p20"> <!-- Start Circular chart-->
              <span>20%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">$400.000,00 <span class="sw-box-text">- Contract N.077 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons">Assets: 5 | <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Delay | 25%</p>
        </div>
     </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <a href="credit-company-profile.html"><p class="sw-box-text sw-blue1">Meu Crédito</p></a>
            <p class="sw-box-text">Payback: 10 months</p>
            <p class="sw-box-text">12 installments</p>
            <p class="sw-box-text">Since 08 jun 2017</p><hr>
            <p class="sw-box-text">Contract Address: <a href=""><b>185c4cc8…3ab88279</b></a></p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Investment: 400.000,00</p>
            <p class="sw-box-text">Return: 500.000,00</p>
            <p class="sw-box-text">Next payment: <span class="sw-blue1">08 mar 2017</span></p>
            <p class="sw-box-text">Performance: <span class="sw-medium">medium / 15 days Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-empty" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Installments payed</p>
            <div class="sw-progress-circle p42"> <!-- Start Circular chart p42= 42%-->
              <span>5/12</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p20"> <!-- Start Circular chart-->
              <span>25%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <div class="row">
        <div class="col-sm-8 col-md-8">
           <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">$150.000,00 <span class="sw-box-text">- Contract N.121 - Meu Crédito</span></a>
           </h4>
        </div>
        <div class="col-sm-4 col-md-4">
           <p class="sw-box-text sw-collapse-icons">Assets: 2 | <i class="fa fa-calendar-check-o" aria-hidden="true"></i> No delay | 15%</p>
        </div>
     </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="col-sm-3 col-md-3">
            <a href="credit-company-profile.html"><p class="sw-box-text sw-blue1">Meu Crédito</p></a>
            <p class="sw-box-text">Payback: 4 months</p>
            <p class="sw-box-text">6 installments</p>
            <p class="sw-box-text">Since 03 jun 2017</p><hr>
            <p class="sw-box-text">Contract Address: <a href=""><b>185c4cc8…3ab88279</b></a></p>

        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text">Investment: 150.000,00</p>
            <p class="sw-box-text">Return: 170.000,00</p>
            <p class="sw-box-text">Next payment: <span class="sw-blue1">03 ago 2017</span></p>
            <p class="sw-box-text">Performance: <span class="sw-high">High / No Delay</span></p>
            <p><i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i> <i class="fa fa-star sw-star-full" aria-hidden="true"></i></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-installs">Installments payed</p>
            <div class="sw-progress-circle p80 sw-over50"> <!-- Start Circular chart-->
              <span>8/10</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>
        <div class="col-sm-3 col-md-3">
            <p class="sw-box-text sw-chart-roi">ROI</p>
            <div class="sw-progress-circle p15"> <!-- Start Circular chart-->
              <span>15%</span>
              <div class="sw-left-half-clipper">
                 <div class="sw-first50-bar"></div>
                 <div class="sw-value-bar"></div>
             </div>
            </div> <!-- End Circular chart-->
        </div>

      </div>
    </div>
  </div>
</div><!-- END Accordion-->



              </div>
            </div>

             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

      </div> <!-- END col 10  -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
