<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Raise</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class=" col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row sw-box-space">

            <div class="col-sm-12 col-md-12">
              <div class="row">
                  <p class="sw-box-title">Congratulations !</p>
                  <p class="sw-box-title">You successfully added your fundraising offer</p>
                  <hr>
              </div>

            <div class="row">
              <div class=" col-sm-4 col-md-4">
              <img src="/assets/img/swapy-logo5.jpg" alt="Swapy logo">
              </div>
              <div class=" col-sm-8 col-md-8">
                  <p class="sw-box-text sw-blue1">Contract {{offer.uuid}}</p>
                  <p class="sw-box-text sw-blue1">Your Wallet address:</p>
                  <a href="" class="sw-successful-address">{{offer.walletAddress}}</a>
              </div>
            </div>

              <div class="row">
                <div class=" col-sm-4 col-md-4">
                  <p class="sw-box-text sw-successful-message">Now you can follow your fundraising offer on: <span class="sw-successful-bold">Manage</span></p>
                </div>
                <div class=" col-sm-4 col-md-4">
                </div>
                <div class=" col-sm-4 col-md-4">
                  <a class="sw-button sw-btn-ghost1" routerLink="/credit-company">Close</a>
                </div>
              </div>


             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
