<img src="assets/img/swapy-logo.jpg" alt="swapy logo">
<p class="sw-redefine-pass">Please, insert the code obtained through Google Authenticator to validate your sign in.</p>
<div *ngIf="errorMessages.length > 0">
  <div *ngFor="let message of errorMessages" class="alert alert-danger">
    {{message}}
  </div>
</div>
<input type="text" [(ngModel)]="otp" #otpInput="ngModel" name="email" [textMask]="{mask: otpMask}" class="form-control sw-round" placeholder="Code" required><br>
<a class="sw-button sw-btn-ghost1" (click)="validateOtp()">Continue</a>
