<img src="assets/img/swapy-logo.jpg" alt="swapy logo">

<div *ngIf="requireMetaMask" class="signin-metamask">
  <p>We didn't find any Ethereum account. Please make sure you have MetaMask running.</p>

  <p>If you don't have it, download it here.</p>

  <a href="https://metamask.io/" target="_blank">
    <img src="assets/img/download-metamask.png" alt="metamask download image" class="metamask">
  </a>
</div>

<div *ngIf="requireMetaMask === false" class="signin-metamask">
  <p>Found address <b>{{account}}</b></p>
  <button class="sw-button sw-btn-ghost1" (click)="login(1)">Sign in</button>
</div>
