<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div class="sw-scrollbar2">
    <div class="row"> <!--  Page name, Search Bar -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="sw-page-name">Profile</p>
      </div>
    </div> <!-- END Page name, Search Bar  -->

    <div class="row"> <!-- //////////// MAIN Content //////////// -->
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <div class="col-md-12"> <!-- Start  -->
            <div class="sw-box">
            <div class="row">

              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-sm-10 col-md-10">
                     <p class="sw-box-title-slim">Complete Information</p>
                  </div>
                  <div class="col-md-2 sw-logoxs-menus">
                     <img src="/assets/img/swapy-logo-xs.png" alt="Swapy logo">
                  </div>
                </div>

                <div class="row">
                  <hr>
                  <div class="col-sm-2 col-md-2 sw-company-logo-left">
                    <a href="#" target="blank"><i class="fa fa-3x fa-picture-o" aria-hidden="true" title="Add your logo here"></i></a>
                  </div>

                  <div class="col-sm-2 col-md-2 sw-company-logo-left">
                    <a href="#" target="blank"><i class="fa fa-3x fa-file-pdf-o" aria-hidden="true" title="Add the Foundation documents here"></i></a>
                  </div>

                  <div class="col-sm-6 col-md-6">
                     <p class="sw-box-title">Meu Crédito</p>
                     <p class="sw-box-text">contato@meucreditoapp.com.br &nbsp;&nbsp;<i class="fa fa-envelope-o" aria-hidden="true"></i></p>
                  </div>

                </div>

            <div class="row">
              <div class="col-sm-12 col-md-12">

                <hr><p class="sw-box-text">Profile</p><hr>


<!-- /////////////////////////   START Accordion   //////////////////////////////-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!-- Accordion-->
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
     <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Website <span class="sw-box-text">- www.meucreditoapp.com.br</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Website</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add Website">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Description <span class="sw-box-text">- Meu Crédito App is the mobile app for last mile loan's origination. We practice legal interest and training in financial education to help each client in realizing their dreams and personal goals.</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Description</span></label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" placeholder="Add a description"></textarea>
                </div>
              </div>
        </form>


        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Address <span class="sw-box-text">- Brazil - Recife/PE - Rua Do Bom Jesus, 180 - CEP: xx.xxx.xxx</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Address</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add company address">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingFour">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Phone <span class="sw-box-text">- (+55) 31 91111-1111</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Phone</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add phone number">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingFive">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Register <span class="sw-box-text">- CNPJ: 00.000.000/0000-00</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Register</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add register number">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingSix">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Foundation <span class="sw-box-text">- July 25, 2015</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Foundation</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add Foundation date">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingSeven">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Compulsory Deposit <span class="sw-box-text">- 15%</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Deposit</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Add Compulsory Deposit">
                  <p class="sw-box-text">* Recommended 15%</p>
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

                   <hr><p class="sw-box-text">Account</p><hr>

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingEight">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Company Name <span class="sw-box-text">- Meu Crédito</span>
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">

        <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Company</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Change company name">
                </div>
              </div>
        </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingNine">
      <div class="row">
        <div class="col-sm-10 col-md-10">
           <h4 class="panel-title">
           Change Password
           </h4>
        </div>
        <div class="col-sm-2 col-md-2 panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine"><p class="sw-edit">Edit</p></a>
        </div>
     </div>
    </div>

    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">

            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span class="sw-box-text">Password</span></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Current password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"><span class="sw-box-text">New Password</span></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="New Password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"><span class="sw-box-text">Confirm New Password</span></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm New Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> I confirm the change of password?
                    </label>
                  </div>
                </div>
              </div>
            </form>

        <div class="col-sm-6 col-md-6">
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">Cancel</a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a class="sw-button sw-btn-ghost1" href="#">Save Changes</a>
        </div>

      </div>
    </div>
  </div> <!--////////////////////////////////////////////////////////////////////////// -->

</div> <!-- /////////////////////////   END Accordion   //////////////////////////////-->

               <br>
               <div class="row">
                 <p class="sw-box-since"><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;&nbsp; Since jun 14, 2018</p>
               </div>

              </div>
            </div>

             </div>
            </div>

          </div>
          </div> <!-- END  -->

      </div>
    </div><!-- END MAIN Content  -->

</div> <!-- END col 10  -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////  END MAIN Content  /////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
