

<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////   MAIN Content  ////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="sw-scrollbar2">
  <div class="row"> <!-- Page name, Search Bar -->
    <div class="col-xs-4 col-sm-4 col-md-4">
      <p class="sw-page-name">Invest</p>
    </div>
  </div> <!-- END Page name, Search Bar  -->
  
  <div class="row">
    <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
      <p class="sw-title-outside-box">Invest</p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <p class="sw-description-outside-box">Investment confirmation</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
      <p class="sw-button-add-funds sw-btn-add-funds">Add funds</p>
    </div>
  </div>


  <div class="row"> <!-- //////////// MAIN Content //////////// -->
    <div class="col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1">

        <div class=" col-md-12"> <!-- Start  -->
          <div class="sw-box">
           <div class="row sw-box-space">

            <div class="row">
              <div class="col-sm-1 col-md-1">
                <img src="assets/img/swapy-logo4.png" alt="Swapy logo">
              </div>            
              <div class="col-sm-8 col-md-8">
                <p class="sw-box-title">You are investing <span class="sw-blue1">{{investment.totalAmount | currency}}</span></p>
                <p class="sw-box-title">Do you confirm your investment ?</p>
              </div>
            </div>

            <div class="row sw-investment-info">
              <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                  <p *ngFor="let asset of investment.assets; let i = index" class="sw-box-text">
                    Asset {{i + 1}}: <span class="sw-blue1">{{asset.value | currency:'USD':false:'.0-2'}} - {{collateralToString(i)}}</span>
                  </p>
                  <p class="sw-box-text">Gross return rate: 
                    <span class="sw-blue1">{{investment.grossReturn | percent}}</span>
                  </p>
                  <p class="sw-box-text">Contract term: 
                    <span class="sw-blue1">{{investment.paybackMonths}} months</span>
                  </p>
              </div>
            </div>

            <div class="row">
              <div class=" col-sm-5 col-md-5">
              </div>
              <div class="col-sm-3 col-md-3">
                <a class="sw-button sw-btn-ghost2" routerLink="/investor/offer/{{offerIndex}}">Return</a>
              </div>
              <div class="col-sm-3 col-md-3">
                <a class="sw-button sw-btn-ghost1" (click) = "confirmInvestment()">Invest</a>
              </div>
            </div>
          </div>

        </div>
        </div> <!-- END -->

    </div>
      <div class="col-sm-3 col-md-3 sw-company-box">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <span class="sw-box-title">Company Name, Inc</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <p class="sw-box-text sw-company-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, exercitationem doloremque atque dolor numquam perspiciatis consequuntur autem impedit porro doloribus nulla placeat quisquam cupiditate repellendus odio esse! Iure nostrum, quasi!</p>
            <p class="sw-blue1">City, country</p>
            <p class="sw-blue1">www.website.com</p>
            <hr>
          </div>
        </div>
        <div class="row sw-company-assets-details">
          <div class="col-sm-8 col-md-8">
            <span>Assets raised</span>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="sw-number-details">7/10</div>
          </div>
        </div>
        <div class="row sw-company-assets-details">
          <div class="col-sm-8 col-md-8">
            <span>Repayment rate</span>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="sw-blue1 sw-number-details">99%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <hr>
            <span>Company's wallet address: <p class="sw-blue1">{{investment.walletAddress}}</p></span>
          </div>
        </div>
      </div>
  </div><!-- END MAIN Content  -->

</div>
