<!-- /////////////////////////  Nav bar  ///////////////////////// -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{ 'in': isIn }">
      <img class="sw-swapy-logo3 visible-xs" src="assets/img/swapy-logo3.png" alt="Swapy logo" />
      <ul class="nav navbar-nav navbar-center">
        <li><a href="profile-account.html" class="sw-box-text">{{user.firstName}} {{lastName}}</a></li>  
      </ul>

    	<ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/investor/offers']" class="sw-box-text">Invest</a></li>
        <li><a [routerLink]="['/investor']" class="sw-box-text">Manage</a></li>
        <li><a href="notifications.html"><i class="fa fa-lg fa-bell-o" aria-hidden="true" title="Notifications"></i><span class="badge sw-badge">2</span></a></li>
        <li class="dropdown" [ngClass]="{ 'open': isSettingsOpen }" (click)="toggleSettingsDropdown()">
          <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-cog" aria-hidden="true" title="Settings"></i> <span class="sw-add-name-menu sw-box-text"> Settings & Configuration</span></a>
          <ul class="dropdown-menu">
            <li class="sw-profile-name">{{user.firstName}} {{lastName}}</li>
            <li class="sw-profile-email">{{user.email}}</li>
            <li role="separator" class="divider"></li>
            <li><a href="profile-account.html"><i class="fa fa-university" aria-hidden="true"></i><span class="sw-box-text"> Profile & Account</span></a></li>
            <li><a href="preferences.html"><i class="fa fa-cog" aria-hidden="true"></i><span class="sw-box-text"> Preferences</span></a></li>
            <li><a href="terms-conditions.html"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="sw-box-text"> Terms & Conditions</span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="help.html"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="sw-box-text"> Help</span></a></li>
          </ul>
        </li>

        <li><a (click)="logout()"><i class="fa fa-lg fa-sign-out" aria-hidden="true" title="Sign out"></i> <span class="sw-add-name-menu sw-box-text"> Sign out</span></a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>